header {
    background-color: #f6f6e9;
    color: #5d5491;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
    color: #5d5491;
}

nav a.active {
    background-color: #5d5491;
    color: #f6f6e9;
}

nav a:hover {
    background-color: #bec4ed;
    color: #5d5491;
}

body {
    background-color: #5d5491;
    color: #f6f6e9;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    flex-wrap: wrap;
}

.home-page{
    flex-direction:row;
}

.index-text {
    text-align: center;
    margin-top: 40px;
}

.index-text h3 {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.index-text h1 {
    font-size: 100px;
    margin-top: 0;
}

main img {
    max-width: 400px;
    height: auto;
    margin-right: 100px;
}

h2 {
    font-size: 50px;
    margin-bottom: 10px
}

h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

p {
    margin: 20px 0;
    padding: 0 50px;
    text-align: center;
    font-size: 25px;

    .home-page, .about-page{
        font-size: 30px;
    }
}

a{
    color: white;
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav a {
        padding: 10px;
        width: 100%;
    }

    main {
        flex-direction: column;
        margin: 20px;
    }

    .index-text{
        margin-left: 0;
        margin-top: 20px;
    }
    
    main img {
        margin: 10px 0;
    }
}