@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*site-wide styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
    /*colors*/
    --dark-purple: #5d5491;
    --light-purple: #bec4ed;
    --cream: #f6f6e9;

    /*font-size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 6.25rem;

    /* font-weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* site max width */
    --site-max-width: 1300px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

img.logo{
    max-width: 60px;
}

img.lavender {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 2s;
}

img.lavender:hover{
    transform: scale(1.1);
}

img.social {
    width: 30px;
    height: 30px;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background: var(--cream);
}

/*navbar styling*/
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--cream);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--dark-purple);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--cream);
    background: var(--light-purple);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/*intro section styling*/
.intro-section {
    min-height: 100vh;
    background: var(--dark-purple);
    padding-top: 85px;
}

.intro-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--cream);
    justify-content: space-evenly;
}

.intro-section .intro-details .title {
    margin-top: 8px;
    font-size: var(--font-size-xxl);
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    color: var(--light-purple);
    display: inline-block;
    min-width: 7ch;
    min-height: 125px;
    white-space: nowrap;
}

.intro-section .intro-details .subtitle {
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-family: "Homemade Apple", cursive;
}

.intro-section .intro-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.intro-section .social-link-list {
    display: flex;
    gap: 25px;
}

.intro-section .intro-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}

/*about section styling*/
.about-section {
    padding: 120px 0;
    background-color: var(--light-purple);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    margin: 0 30px;
    align-items: center;
    justify-content: space-evenly;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 2s;
}

.about-section .about-image-wrapper .about-image:hover {
    transform: scale(1.1);
}


.about-section .about-details .section-title {
    padding: 0;
    color: var(--dark-purple);
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--dark-purple);
}

/*projects section styling*/
.projects-section{
    padding-top: 50px;
    padding-bottom: 90px;
    color: var(--dark-purple);
    background-color: var(--dark-purple);
}

.projects-section .section-title {
    color: var(--light-purple);
    padding-bottom: 20px;
}

.projects-section .project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

.project-card {
  background-color: var(--light-purple);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  width: 300px;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-card img {
  width: auto;
  height: 300px;
  display: block;
  object-fit: contain;
  object-position: center;
}

.project-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.project-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.project-description {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.tags{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
  font-size: 0.9rem;
  font-weight: bold;
  background: var(--cream);
  padding: 3px 10px;
  border-radius: 50px;
  white-space: nowrap;
}

/*footer section styling*/
.footer-section {
    padding: 20px;
    background: var(--cream);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .copyright-text {
    color: var(--dark-purple);
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 900px) {
    :root{
         /*font-size*/
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 4.5rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0,0,0,0.2);
    }
    
    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
        color: var(--dark-purple);
    }

    .navbar #menu-open-button {
        color: var(--dark-purple);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--cream);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    body.show-mobile-menu .navbar #menu-open-button {
        left: 0;
        color: var(--cream);
    }

    body.show-mobile-menu header {
        background: var(--dark-purple);
    }

    .navbar .nav-menu .nav-link {
       color: var(--dark-purple);
       display: block;
       margin-top: 17px;
       font-size: var(--font-size-m);
    }

    .intro-section .section-content {
        gap: 30px;
        text-align: center;
        padding: 50px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .intro-section .intro-details :is(.subtitle, .description), .about-section .about-details {
        max-width: 100%;
    }

    .intro-section .social-link-list {
        justify-content: center;
        margin-bottom: 20px;
    }

    .intro-section .intro-image-wrapper {
        max-width: 400px;
        margin: 0 auto;
    }

    .about-section .section-content {
        gap: 50px;
        flex-direction: column-reverse;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        max-width: 400px;
    }

    img.lavender{
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        max-width: 400px;
    }
}